/* Стили для body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

/* Стили для текстовых полей */
input[type="text"] {
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #f0f0f0; /* Светло-серый цвет */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для селекта */
select {
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #00CED1; /* Бирюзовый цвет */
    color: white;
    border: none;
    border-radius: 5px;
}

/* Стили для кнопки */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для результатов */
#result {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

/* Медиа-запросы для адаптивности на различных устройствах */
@media only screen and (max-width: 600px) {
    input[type="text"],
    select {
        width: 80%;
    }
}
